# The API login details can be put in a YAML file. This is an example login.yml which
# will be needed for bin/console

# Account ID is a required parameter. You can find your account number by logging into the
# RightScale dashboard (https://my.rightscale.com), navigate to the Settings > Account Settings page.
# The account number is at the end of the browser address bar.
:account_id: my_account_id

# There are six login mechanisms:

# 0. Use the following parameters to login with your email and base64-encoded password:
# To encode your plaintext password, use 'base64' command or similar.
:email: my@email.com
:password_base64: my_password_encoded_as_base64

# 1. Use the following parameters to login with your email and plaintext password:
:email: my@email.com
:password: my_password

# 2. Use the following parameter to login with an instance_token:
# To find the instance_token, launch a server, navigate to the info page and under
# User Data box, you will see RS_API_TOKEN = your_account_id:the_instance_token
:instance_token: my_instance_token

# 3. Use the following parameter to send a pre-authenticated cookie with every request:
:cookies: my_cookie_string

# 4. Use the following parameter to send an existing OAuth access token with every request:
# To learn more about OAuth and how to obtain an access token, see
# http://support.rightscale.com/12-Guides/03-Rightscale_API/OAuth
:access_token: my_token_string

# 5. Use the following parameter to use your personal OAuth Token with your requests:
# Please be careful! This is a user-specific OAuth 2.0 refresh token representing a grant with unrestricted scope.
# Anyone who possesses it can login to RightScale's API and perform requests on this account with all of your permissions.
# For more information, consult http://support.rightscale.com/12-Guides/03-Rightscale_API/OAuth
# Note that api_url must be set to your shard when refresh_token is used.
# ex: @client = RightApi::Client.new(:api_url => "https://us-x.rightscale.com", :account_id => <account_id>, :refresh_token => <token>)
:refresh_token: my_token_string

# The following are optional parameters:
:api_url: (this defaults to https://my.rightscale.com)
:api_version: (this defaults to 1.5)
:ssl_version: (this defaults to TLSv1)
